/* GLOBAL */
h1, h2, h3, h4, h5, h6, p, label, li {
    font-family: Helvetica, Arial, sans-serif;
    color: black;
}

/** Form */
form {
    display: table;
}

form textarea {
    width: 80%;
    max-width: 900px;
}

form > .form-field {
    display: block;
    margin-top: 10px;
}

form label {
    display: table-cell;
}

form input {
    display: table-cell;
    width: 90%;
    max-width: 300px;
}

/** List Item */
.list-item {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 3px;
    margin: 10px;
    padding: 5px;
}

.list-item > * {
    margin: 5px auto 0px auto;
}

.list-item:hover {
    background: slategray;
    cursor: pointer;
}

.list-item:hover * {
    color: white;
}

/** Article */
.article {
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    max-width: 1200px;
}

.article > * {
    margin: 10px auto 0px auto;
}

.article__metadata-box {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 3px;
    background-color: slategray;
    padding: 3px;
    max-width: 300px;
    margin-left: 0px;
}

.article__metadata-box * {
    color: white;
}

.article__author, .article__date-created {
    color: #ddd;
}


/* HOME */
.home-articles__list-item {
    display: block;
}

/* EDITOR */
.editor-articles__list-item {
    display: inline-block;
    min-width: 30%;
}