/* GLOBAL */
h1, h2, h3, h4, h5, h6, p, label, li {
    font-family: Helvetica, Arial, sans-serif;
    color: black;
}

form {
    display: table;
}

form > .form-field {
    display: block;
    margin-top: 10px;
}

form label {
    display: table-cell;
}

form input {
    display: table-cell;
    width: 90%;
    max-width: 300px;
}



/* HOME */
.home-articles-listing__list-item {
    display: block;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 3px;
    margin: 10px;
    padding: 5px;
}

.home-articles__list-item > * {
    margin: 5px auto 0px auto;
}

/* EDITOR */
.editor-articles__list-item {
    display: inline-block;
    min-width: 30%;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 3px;
    margin: 10px;
    padding: 5px;
}

.editor-articles__list-item:hover {
    background: dodgerblue;
    color: white;
}

.editor-articles__list-item > * {
    margin: 5px auto 0px auto;
}

#editor-update-form__markdown-content, #editor-create-form__markdown-content {
    width: 80%;
    max-width: 900px;
}